
<h2>Cards</h2>

<div id="filter-container" class="row">
  <div class="col-sm-3 filterinput"> <input class="filter-field" placeholder="Firstname" type="text" ng-model="firstname"> </div>
  <div class="col-sm-3 filterinput"> <input class="filter-field" placeholder="Surname" type="text" ng-model="surname"> </div>
  <div class="col-sm-3 filterinput"> <input class="filter-field" placeholder="Phone" type="text" ng-model="phone"> </div>
  <div class="col-sm-3 filterinput"> <input class="filter-field" placeholder="Location" type="text" ng-model="location"> </div>
</div>


<div id="cards-container" class="row">

  <div ng-repeat="contact in contactsActive | filter : {firstName: firstname} | filter : {surName: surname} | filter : {phone: phone} | filter : {street: location}" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-0">

      <div class="cards-card">

          <div class="cards-text">
            <ul>
              <li><h4 class="icon1">{{contact.firstName}} {{contact.surName}}</h4></li>
              <li><h4 class="icon2">{{contact.phone}}</h4></li>
              <li><h4 class="icon3">{{contact.email}}</h4></li>
              <li><h4 class="icon4">{{contact.street}}</h4></li>
            <ul>
          </div>

          <div class="cards-logo">
            <div class="cards-logo2">

            </div>
          </div>

      </div>

  </div>

</div>
