
#cards-container
{
    padding-left: 5px;
}

ul
{
    position: relative;
    z-index: 11;
    list-style: none;
    margin-top: 25px;

    li
    {
        color: white;
    }

    h4
    {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding-left: 50px;
    }
}

.cards-card
{
    width: 100%;
    background-color: #15819f;
    margin-bottom: 10px;
    height: 250px;

    border: 1px solid #232325;
    position: relative;

    background-image: url("./cards/imgs/bg.png");
    background-repeat: repeat;
}

.cards-text
{

  top: 0;
  bottom: 0;
  left: 5%;
  right: 5%;

  background-color: #3c3c3c;
  position: absolute;

  background-image: url("./cards/imgs/bg2.png");
  background-repeat: repeat;

}

.cards-logo
{

  width: 40%;
  height: 100%;
  background-color: #ebedec;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;

  background-image: url("./cards/imgs/bg3.png");
  background-repeat: repeat;

}

.cards-logo2
{
  background-image: url("./cards/imgs/logo.png");
  background-repeat: no-repeat;
  background-position: 60% 75%;
  background-size: 177px 74px;
  height: 100%;
  width: 100%;
}

#filter-container
{
    margin-bottom: 10px;
    padding: 5px;
}

.filterinput
{
    text-align: center;
    margin-bottom: 5px;
}

.filter-field
{
  width: 100%;
}

.icon1
{
    background-image: url("./cards/imgs/icon1.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
}

.icon2
{
    background-image: url("./cards/imgs/icon2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
}

.icon3
{
    background-image: url("./cards/imgs/icon3.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
}

.icon4
{
    background-image: url("./cards/imgs/icon4.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min)
{
  .cards-logo
  {
    width: auto;
    height: 15%;
    top: 0;
    left: 5%;
    right: 5%;
  }

  .cards-logo2
  {
    background-position: right center;
    background-size: 80px 32px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min)
{


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min)
{

}
